{% extends "base.html" %}

{% block title%}Show Grades{% endblock %}
{% block content %}
<div class="tabel">
    <table>
        <tr>
            <th>Course name</th>
            <th>Course grade</th>
            <th>Date added</th>
            <th>Added by</th>
        </tr>
        {% for grade in grades %}
            {% if user.username == grade.student_name %}
                <tr>
                    <td>{{grade.course_name}}</td>
                    <td>{{grade.course_grade}}</td>
                    <td>{{grade.date_added}}</td>
                    <td>{{grade.added_by}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}