{% extends "base.html" %}
{% load static %}
{% block title %}Home page{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="home">
            <img src="{% static 'user-icon.png' %}" class="usericon">
            <p>Hi {{user.username}}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        </div>
    {% else %}
        <div class="home">
            <img src="{% static 'user-icon.png' %}" class="usericon">
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign up</a>
        </div>
    {% endif %}
{% endblock %}