<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/gradebook/">GradeBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'show-grades' %}">Show grades</a>
          </li>
          {% for grade in grades %}
              {% if user.username in grade.added_by %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add-grade' %}">Add grade</a>
                  </li>
              {% endif %}
          {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>